{% extends 'base.html' %}
{% block title %}Songscape - homepage{% endblock title %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: #443b32 url(/static/images/nibk-background.jpg) no-repeat top right">
      <div class="container">
        <h1 style="color: white">Monitoring biodiversity with sound</h1>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'first_snippet' %}">Explore the sounds &raquo;</a></p>
      </div>
    </div>
    <p>
        New Zealand North Island brown kiwi. Kiwi are active at night, and their distinctive call makes them ideal candidates for acoustic monitoring. Photo of a kiwi
        <a href="http://creativecommons.org/licenses/by/3.0/deed.en">CC-BY</a> Edward Abraham
    </p>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Machine learning</h2>
             <p>Recording birdsong and other animal sounds is an effective technique for monitoring biodiversity. The challenge is then to manage
        and analyse the data. Songscape allows a combination of machine learning and himan classification to efficiently manage score large acoustic datasets.</p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Stay in touch</h2>
          <p>Songscape is in development. We are interested in working with people who have acoustic datasets to analyse. Please email us to find out more, or</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



{% endblock content %}
