*db-journal
*.log
*.pot
*.pyc
local_settings.py
static/sonograms/*
www/media/sonograms/*
www/media/snippets/*
www/static/sonograms/*
www/birdscape.db
*.swp
*.swo
*~
data/*
media/*
rfpt/*
dumps/*
static/*
.coverage
nosetests.xml
