# You need to manually install numpy and matplotlib due to the dependencies and weird pip behaviour.
# numpy==1.7.1
# matplotlib==1.2.1

Django==1.5.1
Pillow
git+git://github.com/ferrouswheel/dragonfab.git
fabric
south
coverage
django-debug-toolbar
django-browserid
git+https://github.com/dragonfly-science/kokako.git
pymongo
git+https://github.com/dragonfly-science/numpy-wavy.git
django-nose==1.1
nose-cov
git+git://github.com/matplotlib/matplotlib.git
