# You need to manually install numpy and matplotlib due to the dependencies and weird pip behaviour.
# numpy
# Pillow
# matplotlib==1.3

Django==1.5.1
git+git://github.com/ferrouswheel/dragonfab.git
fabric
south
coverage
django-debug-toolbar
git+https://github.com/mozilla/django-browserid.git@04e4a860e282432
git+https://github.com/dragonfly-science/kokako.git
pymongo
git+https://github.com/dragonfly-science/numpy-wavy.git
django-nose==1.1
nose-cov
