html,
body {
    height: 100%;
}

form.inline-form {
    display: inline;
}

h1 {
    margin-top; 10em;
}

.mandatoryfield {
    color: red;
}


/* Jumbotron */
.jumbotron {
    margin-top: 80px;
    margin-bottom: 5px;
    padding-top:30px;
    padding-bottom: 70px;
    background: url(/static/images/nibk-background-1140.jpg);
    background-repeat: no-repeat;
    background-color: #443b32 
    background-position: top right;
    background-size: cover;
}

.jumbotron-byline {
    font-size: 12px;
    color: #aaa;
    text-align: right;
}
.jumbotron-byline a {
    color: #aaa;
}

/* navbar */
.navbar-nav > li > p {
  padding-top: 14px;
  padding-bottom: 6px;
  line-height: 20px;
  color: rgb(153, 153, 153);
}

@media screen and (max-width: 1200px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 590px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 30px;
  }
}

/* Homepage */
.byline {
    font-size: 0.7em;
    text-align: right;
    color: #AAAAAA;
}
.byline a {
    color: #AAAAAA;
}
#title-row {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height:1.2em;
}

#footer {
    font-size: 0.9em;
    color: rgb(70, 70, 70);
    margin-top: 6em;
}
#logos {
    text-align: center;
}
.logo {
    margin-left: 3em;
    margin-right: 3em;
}

.outlined {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.outline-inverse {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.75);
}
/* Footer */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by the sum of its height and top-margin */
  margin: 0 auto -190px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  margin-top: 70px;
  height: 120px;
  background-color: #404040;
  color: #E5DECC;
  padding-top: 10px;
}
#footer a {
  color: #E5DECC;
}

.footer-logo {
    text-align: right;
}

.footer-text {
    display: none;
}
@media (min-width: 990px) {
    .footer-text {
        display: block;
    }
}

/* Snippet page */
.pager {
    margin-top: 80px;
}
#favourite{
    color: grey;
}

#favourite.liked {
    color: red;
}
#flag.flagged {
    color: red;
}

/* Call labelling */

.call-label {
    border: 1px solid #70DCFA; 
    font-size: 12px; 
    z-index:3; 
    position: absolute; 
    color: #70DCFA;
}

.call-label button {
    color: #70DCFA; 
    background: none; 
    border: none; 
    position: absolute; 
    right: 0; 
    top: 0; 
    font-size: 15px; 
    margin: -7px -18px;
}
.call-tagged {
    color: #B7E8D4;
    border-color: #B7E8D4;
}
.call-tagged button {
    color: #B7E8D4;
}

a.btn-default {
    color: #1898C3;
}

a.btn-default:hover {
    color: white;
    background-color: #1898C3;
    border-color: #1898C3;
}
