form.inline-form {
    display: inline;
}

h1 {
    margin-top; 10em;
}

.mandatoryfield {
    color: red;
}
/* Homepage */
.byline {
    font-size: 0.7em;
    text-align: right;
    color: #AAAAAA;
}
.byline a {
    color: #AAAAAA;
}
#title-row {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height:1.2em;
}

#footer {
    font-size: 0.9em;
    color: rgb(70, 70, 70);
    margin-top: 6em;
}
#logos {
    text-align: center;
}
.logo {
    margin-left: 3em;
    margin-right: 3em;
}
