{% extends 'recordings/snippet.html' %}

{% block secondrow %}

{% if id_before %}
<div class="row">
  <div class="span6">
    <ul class="inline">
        {% for tag in tags %}
        <li class="outlined">{{ tag.name }} </li>
        {% endfor %}
    </ul>
  </div>



<div class="col-md-2">
<span class="btn"><a href="{% url 'analysis_snippet' analysis.code next_index  %}">Skip</a></span>
</div>
</div>

{% endif %}
<div class="row">
<form method="post">{% csrf_token %}

<div class="col-md-2">
{% if previous_index %}
<span class="btn"><a href="{% url 'analysis_snippet' analysis.code previous_index %}">&larr; Previous</a></span>
{% endif %}
</div>

<div class="col-md-10">
<div id="tag-group" data-toggle="buttons-checkbox">
{% for tag in analysis.tags.all %}
  <input type="hidden" id="{{ tag.code }}_real" name="{{ tag.code }}" value=false>
  <input type="button" class="btn btn-default tag-btn" id="{{ tag.code }}" value="{{ tag.name }}">
{% endfor %}
<!--<input type="hidden" id="uncertain_real" name="uncertain" value=false>
<input type="button" class="btn btn-default" id="uncertain_" value="Not sure">-->
<input type="submit" class="btn btn-primary" id="null_tag" value="Nothing to be tagged">
<input type="hidden" id="null_real" name="{{ analysis.ubertag.code }}" value=true>
<input type="hidden" name="next_index" value={{ next_index }}>
</div>
</div>
</form>
</div>

{% endblock secondrow %}


{% block extrascript %}

var check_tag_state = function(element){
    console.log(element);
    $('#' + element.attr('id') + '_real').val(
        element.hasClass('btn-success')
    );
    $(element).removeClass('active');
};

$('.tag-btn').bind('click', function() {
	$('#null_tag').attr('value', 'Save');
	$('#null_real').val(false);
    $(this).toggleClass('btn-success');
    $(this).toggleClass('active');
    if ($(this).hasClass('btn-success')){
        $('#uncertain').removeClass('btn-success');
        $('#uncertain').removeClass('active');
        $('#uncertain_real').val(false);
    };
    $('#' + $(this).attr('id') + '_real').val(
        $(this).hasClass('btn-success')
    );
});

$('#uncertain').bind('click', function() {
	$('#null_tag').attr('value', 'Save');
    $('#uncertain').toggleClass('btn-success');
    $('#' + $(this).attr('id') + '_real').val(
        $(this).hasClass('btn-success')
    );
    if ($(this).hasClass('btn-success')){
        $('.tag-btn').removeClass('btn-success');
    };
});
{% endblock extrascript %}
