{% extends 'recordings/snippet.html' %}

{% block toprow %}
<h3> {{ snippet.recording.deployment.site }}, {{ snippet.datetime }}</h3>

{% if id_before %}
<p>You have indentified this snippet</p>
<p>It contains: {% for tag in true_tags %} {{ tag.name }},{% endfor %}</p>
<p>It does not contain: {% for tag in false_tags %} {{ tag.name }},{% endfor %}</p>

<div class="row">

<div class="span2">
{% if previous_id %}
<span class="btn"><a href="{% url 'analysis_snippet' analysis.code previous_id %}">Previous</a></span>
{% endif %}
</div>

<div class="span6">
  <span class="btn">{{ snippet.recording.deployment.site }}, {{ snippet.datetime }}</span>
</div>


<div class="span2">
<span class="btn"><a href="{% url 'analysis_next' analysis.code %}">Next</a></span>
</div>

{% else %}
<form method="post">{% csrf_token %}
<div class="row">

<div class="span2">
{% if previous_id %}
<span class="btn"><a href="{% url 'analysis_snippet' analysis.code previous_id %}">&larr; Previous</a></span>
{% endif %}
</div>

<div class="span4">
<div class="btn-group" id="tag-group" data-toggle="buttons-checkbox">
{% for tag in analysis.normal_tags %}
  <input type="hidden" id="{{ tag.code }}_real" name="{{ tag.code }}" value=false>
  <input type="button" class="btn tag-btn" id="{{ tag.code }}" value="{{ tag.name }}">
{% endfor %}
</div>
</div>

<div class="span2">
<input type="submit" class="btn btn-primary" id="uber" value="{{ analysis.ubertag.name }}">
<input type="hidden" id="uber_real" name="{{ analysis.ubertag.code }}" value=true>
</div>

</div>
</form>
{% endif %}

{% endblock toprow %}


{% block extrascript %}
$('.tag-btn').bind('click', function() {
	$('#uber').attr('value', 'Next');
	$('#uber_real').val(false);
	$('#' + $(this).attr('id') + '_real').val(true);
	// TODO - should probably return uber tag if all tags are unselected
	// TODO handle unclick ... :)
});

{% endblock extrascript %}
