{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
<div class="span10">
<h2> {{ analysis.name }} </h2>
<p> {{ analysis.organisation.name }} </p>

{% if analysis.description %}
<p>{{ analysis.description }}</p>
{% endif %}
</div>
<a class="btn pull-right" href="{% url 'analysis_next' analysis.code %}">Continue</a>
</div>

<table class="table">
<thead><th>Tag</th><th>Identifications</th></thead>
<tbody>
{% for tag, number in tag_summary.items %}
<tr><td>{{ tag }}</td><td>{{ number }}</td></tr>
{% endfor %}
</tbody>
</table>
<!--
<a class="btn" href="{% url 'analysis_next' analysis.code %}">Next unidentified snippet</a>

<hr class="bs-docs-separator">
<h3>Control the Analysis</h3>
<form method="get">
<select>
	{% for sort in sort_options %}
	<option value="{{ sort }}">{{ sort }}</option>
	{% endfor %}
</select>
</form>
-->
{% endblock %}
