{% extends 'base.html' %}



{% block content %}

<ul class="pager">
{% if snippets.has_previous %}
  <li class="previous">
    <a href="?page={{ snippets.previous_page_number }}">&larr; Previous</a>
  </li>
{% endif %}
    <li class="disabled"><a>Showing {{ snippets.start_index }}&ndash;{{ snippets.end_index }} of {{ snippets.paginator.count }} records</a></li>
{% if snippets.has_next %}
  <li class="next">
    <a href="?page={{ snippets.next_page_number }}">Next &rarr;</a>
  </li>
{% endif %}
</ul>


<table data-provides="rowlink" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
    <th>ID</th>
    <th>Site</th>
    <th>Date</th>
    <th>Score</th>
    <th>Noise</th>
    <th>Kiwi</th>
</thead>
<tbody>
{% for snippet in snippets %}
    <tr>
    <td>{% if snippet.sonogram %}<a href="{% url snippet %}?id={{ snippet.id }}">{{ snippet.id }}</a>{% else %}{{ snippet.id }}{% endif %}</td>
    <td>{{ snippet.deployment.site }}</td>
    <td>{{ snippet.datetime }}</td>
    <td>{{ snippet.kiwi_index }}</td>
    <td>{{ snippet.energy_index }}</td>
    <td>{{ snippet.kiwi }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
