{% extends 'base.html' %}
{% load staticfiles %}
{% load recording_filters %}

{% block content %}

{% block toprow %}
<ul class="pager">
{% if previous_index and not analysis %}
  <li class="previous">
    <a href="{% url 'snippet_list' 1 %}">&larr; First</a>
  </li>
  <li class="previous">
    <a href="{% url 'snippet_list' previous_index %}">&larr; Previous</a>
  </li>
{% endif %}
  <li>
    <span>{{ snippet.recording.deployment.site }}, {{ snippet.datetime }}</span>
  </li>
{% if count_user %}
  <li>
    <span>You have analysed {{ count_user }} snippets, out of {{ count_all }}. There are {{ count }} to go. </span>
  </li>
{% endif %}
{% if random_index and not analysis %}
  <li class="next">
    <a href="{% url 'snippet_list' random_index %}">Random</a>
  </li>
{% endif %}
{% if next_index and not analysis %}
  <li class="next">
    <a href="{% url 'snippet_list' next_index %}">Next &rarr;</a>
  </li>
{% endif %}
</ul>
{% endblock toprow %}
{% block secondrow %}
{% endblock secondrow %}
{% if not analysis %}
<div class="row">
  <div>
    <ul class="inline">
        {% for tag, c in tags.items %}
        <li class="outlined">{{ tag }} <span class="badge">{{ c }}</span></li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
  <div>
    <audio id="snippet">
     <source src="{{ snippet|wav_url }}" type="audio/wav">
     "Hmm can't play the sound"
    </audio>
  </div>
<div id="canvas-container" style="position:relative; height:360px; width:1000px; z-index: 10000">
    <canvas id="canvas" width="1000" height="360" style="position:absolute; top:0; left: 0; z-index: 1000"></canvas>
</div>
<a href="{{ snippet|wav_url }}" role="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-volume-up"></span> Download sound file</a>

<button class="btn btn-default btn-sm {% if favourite %}liked{% else %}notliked{% endif %}"  id="favourite"><span class="glyphicon glyphicon-heart"></span></button>

<!-- TODO: just draw the image and pop up controls if no canvas
img id="sonogram" src="{{ snippet|sonogram_url }}" -->

{% endblock content %}

{% block script %}
<script type="text/javascript">
{% block extrascript %}
{% endblock extrascript %}
$(document).ready(function() {
    var canvas = document.getElementById("canvas");
    var context = document.getElementById('canvas').getContext('2d');
    var snippet = document.getElementById('snippet');

    var sonogram = new Image();
    sonogram.onload = function() {
        context.drawImage(this, 0, 0);
    }
    sonogram.src = '{{ snippet|sonogram_url }}';

    function draw_playback(canvas_offset) {
        // SVG might be more efficient oh well.
        // And it could be animated cleanly - oh well you have to start somewhere
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(sonogram, 0, 0);
        context.beginPath();
        context.moveTo(canvas_offset, 0);
        context.lineTo(canvas_offset, canvas.height);
        context.stroke();
        context.closePath();
    }

    /*snippet.addEventListener('canplaythrough', function(){
    console.log('Can play through');
    console.log(snippet.src);
    console.log(snippet.networkState);
    if (snippet.seekable.length === 0) {
      console.log('Reload');
      snippet.load();
    }; 
     }, false);;*/

    snippet.preload = "metadata";
    var sonogram_start = 0.1266;
    var sonogram_end = 0.905;
    var sonogram_range = sonogram_end - sonogram_start;

    function draw_line(){ 
        $('#snippet').bind('timeupdate', function(e) {
            var offset = snippet.currentTime / snippet.duration;
            offset *= sonogram_range;
            offset += sonogram_start;
            offset *= canvas.width
            draw_playback(offset);
        });
    }

    var isDragging = false;
    var wasDragging = false;
    var mousedownX = -1;
    var mouseupX = -1;
    var mousedownY = -1;
    var mouseupY = -1;
    $('#canvas-container').on('mousedown', function(d){
        var canvas_offset = $('#canvas-container').offset()
        mousedownX =  d.pageX - canvas_offset.left;
        mousedownY = d.pageY - canvas_offset.top;
        $('#canvas-container').on('mousemove', function(d) {
            var call_left = Math.min(mousedownX, d.pageX - canvas_offset.left);
            var call_top = Math.min(mousedownY, d.pageY - canvas_offset.top);
            var call_width = Math.abs(d.pageX - canvas_offset.left - mousedownX);
            var call_height = Math.abs(d.pageY - canvas_offset.top - mousedownY);
            if (!isDragging){
                //$('#new-call').remove();
                $('#canvas-container').append("<div id='new-call' class='alert alert-info' style='opacity: 0.5; z-index:1001; position:absolute'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button></div>");
                $('#new-call').alert();
                $('#new-call').css("left", String(call_left) + "px" );
                $('#new-call').css("top", String(call_top) + "px");
            } else {
                $('#new-call').css("left", String(call_left) + "px" );
                $('#new-call').css("top", String(call_top) + "px" );
                $('#new-call').css("height", String(call_height) + "px" );
                $('#new-call').css("width", String(call_width) + "px" );
            }
            isDragging = true;
        });
    });
    
    function new_call(){
        $('#new-call').removeAttr('id');
    };
    
    $(document).on('mouseup', function(d) {
        wasDragging = isDragging;
        isDragging = false;
        $('#canvas-container').unbind('mousemove');
        if (wasDragging){
            new_call();
        }
    });
    // disable irritating text selection on these pages
    $(document).attr('unselectable','on')
     .css({'-moz-user-select':'-moz-none',
           '-moz-user-select':'none',
           '-o-user-select':'none',
           '-khtml-user-select':'none', 
           '-webkit-user-select':'none',
           '-ms-user-select':'none',
           'user-select':'none'
        }).bind('selectstart', function(){ return false; });

    // disable irritating default dragging on the canvas
    $('#canvas-container').on('drag dragstart', function(d){
        d.preventDefault();
    });


    $('#canvas-container').on('mouseup', function(d) {
        wasDragging = isDragging;
        isDragging = false;
        $('#canvas-container').unbind('mousemove');
        if (wasDragging){
            new_call();
        } else {
            var offset = d.offsetX / $(this).width();
            // scale accordingly
            offset -= sonogram_start;
            offset /= sonogram_range;
            if (offset > 1.0){
                snippet.currentTime = snippet.duration;
                draw_playback(canvas.width*sonogram_end);
            } 
            else if (offset < 0){
                snippet.currentTime = 0.0;
                snippet.pause();
            }
            else {
                snippet.currentTime = offset * snippet.duration
                draw_playback(d.offsetX);
                snippet.play();
            };
            draw_line();
        };
    });

    /* Keypresses */
    $(window).keydown(function(event){
        switch(event.which){
        case 32:
            if (snippet.paused){
                draw_line();
                snippet.play();
            } else {
                snippet.pause();
            }
            break;
        case 39:
            if (snippet.currentTime > snippet.duration*0.95){
                snippet.currentTime = snippet.duration;
                snippet.pause();
            }  else { 
                snippet.currentTime += snippet.duration/20.0;
                draw_line();
                snippet.play();
            }
            break;
        case 37:
            if (snippet.currentTime < snippet.duration/20.0){
                snippet.currentTime = 0;
                snippet.pause();
            }  else { 
                snippet.currentTime -= snippet.duration/20.0;
                draw_line();
                snippet.play();
            }
            break;
        }
    });

    /* Favorite button */
    var favourite_flag = false;
    $('#favourite').bind('touchstart click', function() {
        if (!favourite_flag) {
            favourite_flag = true;
            setTimeout(function(){favourite_flag = false;}, 100);
            var $this = $(this);
            var post_id = this.id;
            if ($this.hasClass('liked')){
                var favourite_url = "{% url 'api' snippet.id 'unfavourite' %}";
            } 
            else {
                var favourite_url = "{% url 'api' snippet.id 'favourite' %}";
            };
            $.getJSON(favourite_url, function(data) {
                var newClass = (data["favourite"] == 1) ? 'liked' : 'notliked'
                $this.removeClass("liked notliked");
                $this.addClass(newClass);
            });
        }
    });
});


{% block preload %}
{% if next_snippet %}
$(window).load(function() {
  var next_image = new Image();
  next_image.src = "{% url 'sonogram_id' id=next_snippet %}"
  
  /*var next_audio = new Audio();
  next_audio.src = "{% url 'play' id=next_snippet %}";
  next_audio.preload = "auto";*/
});
{% endif %}
{% endblock preload %}
</script>

{% endblock %}


