{% extends 'base.html' %}
{% load staticfiles %}
{% load recording_filters %}

{% block content %}

{% block toprow %}
<ul class="pager">
{% if previous_id %}
  <li class="previous">
    <a href="{% url 'snippet' previous_id %}">&larr; Previous</a>
  </li>
{% endif %}
  <li>
  <span>{{ snippet.recording.deployment.site }}, {{ snippet.datetime }}</span>
  <li>
{% if next_id %}
  <li class="next">
    <a href="{% url 'snippet' next_id %}">Next &rarr;</a>
  </li>
{% endif %}
</ul>
{% endblock toprow %}

<div class="row">
  <div class="span4">
    <audio id="snippet">
     <source src="{{ snippet|wav_url }}" type="audio/wav">
     "Hmm can't play the sound"
    </audio>
  </div>
  <div class="span6">
    <ul class="inline">
        {% for tag, c in tags.items %}
        <li class="outlined">{{ tag }} <span class="badge">{{ c }}</span></li>
        {% endfor %}
    </ul>
  </div>
</div>
<canvas id="canvas" width="1000" height="500"></canvas>
<a class="btn btn-small" href="{{ snippet|wav_url }}"><i class="icon-volume-up"></i> Download sound file</a>

<!-- TODO: just draw the image and pop up controls if no canvas
img id="sonogram" src="{{ snippet|sonogram_url }}" -->
{% endblock content %}

{% block script %}
<script type="text/javascript">
{% block extrascript %}
{% endblock extrascript %}
$(document).ready(function() {
  var canvas = document.getElementById("canvas");
  var context = document.getElementById('canvas').getContext('2d');
  var snippet = document.getElementById('snippet');

  var sonogram = new Image();
  sonogram.onload = function() {
    context.drawImage(this, 0, 0);
  }
  sonogram.src = '{{ snippet|sonogram_url }}';

  function draw_playback(canvas_offset) {
    // SVG might be more efficient oh well.
    // And it could be animated cleanly - oh well you have to start somewhere
    context.clearRect(0, 0, canvas.width, canvas.height);
    context.drawImage(sonogram, 0, 0);
    context.beginPath();
    context.moveTo(canvas_offset, 0);
    context.lineTo(canvas_offset, canvas.height);
    context.stroke();
    context.closePath();
  }

  $('#canvas').bind('click', function(d) {
    // hack hack - for some reason the first time a page is loaded the
    // media is not seekable - something to do with the redirect
    if (snippet.seekable.length === 0) {
      console.log('RELOAD');
      location.reload();
    }

    // Do we want to be able to pause it? Or do we just click
    // on what we want and then when done move to the next one?
    // offset = 0.13 is basically the start the sonogram and 0.9 the end.
    var sonogram_start = 0.13;
    var sonogram_end = 0.9;
    var sonogram_range = 0.9 - 0.13;
    var offset = d.offsetX / $(this).width();
    // scale accordingly
    offset -= sonogram_start;
    offset /= sonogram_range;
    snippet.currentTime = offset * snippet.duration

    draw_playback(d.offsetX);

    snippet.play()

    $('#snippet').bind('timeupdate', function(e) {
        var offset = snippet.currentTime / snippet.duration;
        offset *= sonogram_range;
        offset += sonogram_start;
        offset *= canvas.width
        draw_playback(offset);
    });

  });

});
$(window).load(function() {
  var next_image = new Image();
  next_image.src = "{% url 'sonogram_id' next_id %}"
});

</script>

{% endblock %}


