{% extends 'base.html' %}
{% load staticfiles %}
{% load recording_filters %}

{% block content %}

<ul class="pager">
{% if previous_id %}
  <li class="previous">
    <a href="{% url 'snippet' previous_id %}">&larr; Previous</a>
  </li>
{% endif %}
  <li>
  <span>{{ snippet.recording.deployment.site }}, {{ snippet.datetime }}</span>
  <li>
{% if next_id %}
  <li class="next">
    <a href="{% url 'snippet' next_id %}">Next &rarr;</a>
  </li>
{% endif %}
</ul>

<div class="row">
  <div class="span4">
    <audio id="snippet">
     <source src="{{ snippet|wav_url }}" type="audio/wav">
     "Hmm can't play the sound"
    </audio>
  </div>
  <div class="span6">
    <ul class="inline">
        {% for tag, c in tags.items %}
        <li class="outlined">{{ tag }} <span class="badge">{{ c }}</span></li>
        {% endfor %}
    </ul>
  </div>
</div>
<img id="sonogram" src="{{ snippet|sonogram_url }}">
{% endblock content %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  $('#sonogram').bind('click', function(d) {
    // hack hack - for some reason the first time a page is loaded the
    // media is not seekable - something to do with the redirect
    if ($('#snippet')[0].seekable.length === 0) {
      location.reload()
    }

    // offset = 0.13 is basically the start the sonogram and 0.0 the end.
    var offset = d.offsetX/ $(this).width();
    // scale accordingly
    offset -= 0.13;
    offset /= (0.9 - 0.13);

    var snippet = document.getElementById('snippet');
    // Do we want to be able to pause it? Or do we just click
    // on what we want and then when done move to the next one?
    snippet.currentTime = offset * snippet.duration
    snippet.play()
  });
});

</script>

{% endblock %}


