{% extends 'base.html' %}
{% load staticfiles %}
{% load recording_filters %}

{% block content %}

<h3>Kiwi calls recording archive</h3>

<div class="row">
<div class="col-md-6">
<div class="well">
<table class="table">
  <tr>
    <th>Recordings</th>
    <td>{{ recording_count }} recordings totaling {{ duration }} </td>
  </tr>
  <tr>
    <th>Snippets</th>
    <td>{{ snippet_count }}</td>
  </tr>
  <tr>
    <th>Sites</th>
    <td>{{ site_count }} - <a href="#">click for a map</a></td>
</tr>
<tr>
  <th>Deployments</th>
  <td>{{ deployment_count }}</td>
</table>
</div>
</div>
</div>



<div class="row">
<div class="col-md-6">
<h4>Analysis results</h4>
<div class="well">
<table class="table">
  <tr>
    <th>Snippets analysed</th>
    <td>{{ identification_count }}</td>
  </tr>
  <tr>
    <th>Snippets remaining</th>
    <td>{{ remaining_count }}</td>
  </tr>
</table>
</div>
</div>
<div class="col-md-6">
<h4>Identifications</h4>
<div class="well">
<table class="table">

  {% for tag in tags %}
  <tr>
    <th>{{ tag.name }}</th>
    <td>{{ tag.tag_count }}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>

</div>


{% endblock content %}
